
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<h1>Index</h1>

@section Scripts {
<script>
        $(document).ready(function () {
            $('#Dashboard').addClass('active');
        });
</script>
}