@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div style="text-align:center;margin-top:50px;">
                    <img src="~/images/ass.jpg" style="width:100%;border-radius:30px;border:1px solid #fff" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>

